---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/organism/Hero.astro";
import About from "../components/organism/About.astro";
import Products from "../components/organism/Products.astro";
import Oven from "../components/organism/Oven.astro";
import Features from "../components/organism/Features.astro";
import Contact from "../components/organism/Contact.astro";
import Opinions from "../components/organism/Opinions.astro";
---

<Layout title="Panadería Bastavales - Pan artesan dende 1820">
    <main>
        <Hero/>
        <About/>
        <Products/>
        <Oven/>
        <Features />
        <Opinions/>
        <Contact/>
        <p>.</p>
    </main>
</Layout>

<style>
    main > :global(*:not(:last-child)) {
        @apply -m-b(55);
    }
</style>
