---

---
<section class="o-features -grid -columns(24)" id="calidades">
    <div class="features__container -column-start(4) -column-end(22) -gap(24)">
        <div class="feature">
            <h2>
                <span>100%</span>
                natural
            </h2>
            <p>So usamos ingredientes naturais, sen lévedos industriais nen aditivos artificiais.</p>
        </div>
        <div class="feature">
            <h2>
                <span>Grao</span>
                integral
            </h2>
            <p>O grao integral otorga un sabor inconfundible e un aroma ó auténtico pan tradicional.</p>
        </div>
        <div class="feature">
            <h2>
                <span>Sabor</span>
                inconfundible
            </h2>
            <p>O noso pan posee un sabor inconfundible, gracias os ingredientes e elavoración artesan.</p>
        </div>
        <div class="feature">
            <h2>
                <span>Conservación</span>
                prolongada
            </h2>
            <p>Grazas a estar elavorado con masa nai, o noso pan mantense fresco por varios días.</p>
        </div>
    </div>
</section>

<style>
    .features__container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    h2 {
        font-size: 32px;
        font-family: 'New York';
        font-weight: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 > span {
        color: #C39D6D;
    }

    p {
        font-family: Inter;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 200;
        opacity: .65;
        text-align: center;
        //width: 50%;
        margin: auto;
    }
</style>