---
const features: { highlight: string, title: string, description: string }[] = [
    {
        highlight: '100%',
        title: 'natural',
        description: 'So usamos ingredientes naturais, sen lévedos industriais nen aditivos artificiais.'
    },
    {
        highlight:'Grao',
        title:'integral',
        description:'O grao integral otorga un sabor inconfundible e un aroma ó auténtico pan tradicional.'
    },
    {
        highlight:'Sabor',
        title:'inconfundible',
        description:'O noso pan posee un sabor inconfundible, gracias os ingredientes e elavoración artesan.'
    },
    {
        highlight:'Conservación',
        title:'prolongada',
        description:'Grazas a estar elavorado con masa nai, o noso pan mantense fresco por varios días.'
    }
]
---
<section class="o-features -grid -columns(24)" id="calidades">
    <div class="features__container -column-start(4) -column-end(22) -gap(24)">
        {features.map(({highlight,title,description})=>(
                <div class="feature">
                    <h2>
                        <span>{highlight}</span>
                        {title}
                    </h2>
                    <p>{description}</p>
                </div>
        ))}
    </div>
</section>

<style>
    .features__container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    h2 {
        font-family: var(--ff-title), sans-serif;
        font-size: 32px;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 > span {
        color: #C39D6D;
    }

    p {
        font-family: Inter;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 200;
        opacity: .65;
        text-align: center;
        //width: 50%;
        margin: auto;
    }
</style>