---
const features: { highlight: string, title: string, description: string }[] = [
    {
        highlight: '100%',
        title: 'natural',
        description: 'So usamos ingredientes naturais, sen lévedos industriais nen aditivos artificiais.'
    },
    {
        highlight: 'Grao',
        title: 'integral',
        description: 'O grao integral otorga un sabor inconfundible e un aroma ó auténtico pan tradicional.'
    },
    {
        highlight: 'Sabor',
        title: 'inconfundible',
        description: 'O noso pan posee un sabor inconfundible, gracias os ingredientes e elavoración artesan.'
    },
    {
        highlight: 'Conservación',
        title: 'prolongada',
        description: 'Grazas a estar elavorado con masa nai, o noso pan mantense fresco por varios días.'
    }
]
---
<section class="o-features -container" id="calidades">
    <div class="features__container ">
        {features.map(({highlight, title, description}) => (
                <div class="feature -column-span(2)">
                    <h2>
                        <span>{highlight}</span>
                        {title}
                    </h2>
                    <p>{description}</p>
                </div>
        ))}
    </div>
</section>

<style>
    .features__container {
        @apply
        -grid
        -columns(2)
        -screen(sm):columns(4)
        -screen(md):columns(8)
        -gap(4)
        -screen(md):gap(24)
        -column-start(1)
        -screen(md):column-start(4)
        -column-end(5)
        -screen(md):column-end(22);
        align-items: stretch;
        justify-content: space-between;
    }

    h2 {
        font-family: var(--ff-title), sans-serif;
        font-size: var(--fs-x-large);
        font-weight: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 > span {
        color: theme('colors.primary');
    }

    p {
        font-family: var(--ff-body);
        font-size: var(--fs-small);
        line-height: 1.5;
        font-weight: 200;
        opacity: .65;
        text-align: center;
        margin: auto;
    }
</style>