---
import {Picture} from 'astro:assets'
import heroImage from '@assets/img/hero.png'
import Button from '@/components/atoms/Button.vue'
---
<section class="o-hero -container">
    <div class="claim">
        <h1 class="-m-y(0)">
            Desfruta do sabor <br/> da tradición
        </h1>
        <h2 class="-m-b(16)">
            Panadería Bastavales <br/>
            Pan artesan en <b>forno de leña</b> dende <b>1820</b>.
        </h2>

        <div class="claim__opening-hours -m-b(20)">
            <h2 class="opening-hours__title -m-t(0) -m-b(4)">Horario</h2>
            <p>Luns - Venres: <strong>09:30 - 15:00</strong></p>
            <p>Sábado - Domingo: <strong>09:30 - 15:30</strong></p>
        </div>
        <Button text="Contáctanos" href="#contacto" client:only="vue"/>
    </div>

    <Picture
            src={heroImage}
            alt="A bird sitting on a nest of eggs."
            format={'webp'}
            decoding="async"
            loading="lazy"
            pictureAttributes={{class: 'hero__picture'}}

    />
</section>

<style>
    .o-hero {
        position: relative;
        align-items: center;
    }

    .o-hero:before {
        --color: theme('colors.ash');
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 20%;
        display: block;
        bottom: 0;
        background-image: linear-gradient(to bottom, transparent, theme('colors.ash'));
    }

    .claim {
        position: absolute;
        @apply -column-start(1) -column-end(5);
        @screen md {
            @apply -column-start(3) -column-end(16);
        }
    }


    h1 {
        font-family: var(--ff-title), serif;
        font-size: clamp(40px, 5vw + 1rem, 104px);
        font-weight: 400;
    }

    h2 {
        font-family: var(--ff-body), sans-serif;
        font-size: var(--fs-large);
        width: 90%;
        font-weight: 200;
        line-height: 1.25;
    }

    .hero__picture {
        display: block;
        height: 100vh;

        @apply
        -column-start(1)
        -column-end(5)
        -m-x(-4)
        -screen(xs):m-x(-6)
        -screen(md):m-x(-8)
        -screen(lg):m-x(-10)
        -screen(xxl):m-x(-18);

        @screen md {
            @apply
            -column-start(5)
            -column-end(25);
        }
    }


    .hero__picture > img {
        display: block;
        object-fit: cover;

        @apply
        -width(100%)
        -height(100%);
    }

    h2.opening-hours__title {
        font-family: var(--ff-title), serif;
        font-weight: normal;
        color: theme('colors.primary');
    }

    .claim__opening-hours > p {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: theme('colors.opacity-500');
        border-top-width: 1px;
        border-top-style: dashed;
        border-top-color: theme('colors.opacity-500');
        display: block;
        margin: 0;
        font-family: var(--ff-body), serif;
        @apply -p-y(3);
    }

    .claim__opening-hours > p:last-of-type {
        border-top: 0;
    }

</style>