---
import {Image} from 'astro:assets'
import Slider from "../molecules/Slider.astro";
import oven1 from '@assets/img/oven1.png'
import oven2 from '@assets/img/oven2.png'
import oven3 from '@assets/img/oven3.png'
import Picture from "../atoms/Picture.astro";

const pictures = ['jykvgjwrg4umxprui7li', 'tcmdmawff0rl1qw9onkn', 'azu9gsxcwwihrbxtbtww']
---


<section class="o-oven -container" id="forno-de-lena">
    <h2 class="o-oven__container">
        Pan artesan en forno de leña
    </h2>
    <p>
        Na nosa panadería, fundada en 1820, seguimos honrando a tradición e a arte de facer pan como o facían os
        nosos antepasados. Cada peza de pan é elaborada a man e cocida no noso forno de leña, conferíndolle ese
        sabor inigualable e auténtico que só pode lograrse co método tradicional.
    </p>
    <p>
        A maxia do noso forno de leña reside na súa capacidade para acadar temperaturas elevadas e constantes,
        permitindo que cada pan obteña unha codia crocante e un interior suave e esponxoso. Este proceso non só preserva
        as calidades gustativas do pan, senón que tamén mantén todas as substancias nutritivas esenciais.
    </p>
    <div class="o-oven__container">
        <div class="oven-swiper">
            <div class="swiper-wrapper">
                {pictures.map((picture) => (
                        <div class="swiper-slide">
                            <Picture src={picture} alt="" className="about__img" conf={{quality: 70}}/>
                        </div>
                ))}
            </div>
            <div class="oven-swiper-pagination"></div>
        </div>
    </div>


</section>
<style>
    .o-oven__container {
        @apply
        -column-start(1)
        -column-end(5)
        -screen(md):column-start(3)
        -screen(md):column-end(23);
    }

    h2,
    p {
        @apply
        -m-t(0) -m-b(8)
        -column-start(1)
        -column-end(5);
    }

    h2 {
        font-family: var(--ff-title);
        font-size: var(--fs-huge);
        font-weight: normal;
    }

    .o-oven :global(.about__img) {
        width: 100%;
        height: auto;
        display: block;
        user-select: none;
        margin-bottom: 24px;
    }


    p:first-of-type {
        @screen md {
            @apply
            -column-start(3)
            -column-end(12);
        }
    }

    p:last-of-type {
        @screen md {
            @apply
            -column-start(13)
            -column-end(23);
        }
    }

    p {
        font-family: var(--ff-body);
        font-size: var(--fs-medium);
        line-height: 1.5;
        font-weight: 200;
        opacity: .65;
    }

    .oven-swiper {
        overflow: hidden;
    }


    .oven-swiper-pagination.swiper-pagination-bullets {
        bottom: 0;
        left: 0;
        position: static;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @apply -gap(6) -width(auto);
    }

    .oven-swiper-pagination.swiper-pagination-bullets :global(.swiper-pagination-bullet) {
        background-color: theme('colors.light');
        width: 5%;
        border-radius: 0;
        height: 2px;
        margin: 0 !important;
    }
</style>

<script>
    import Swiper from 'swiper';
    import {Navigation, Pagination} from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';

    // init Swiper:
    new Swiper('.oven-swiper', {
        // configure Swiper to use modules
        modules: [Navigation, Pagination],
        slidesPerView: 1,
        spaceBetween: 24,
        loop: true,
        pagination: {
            el: ".oven-swiper-pagination",
            clickable: true,
        },
    });
</script>